*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif; 
}

/*********** header **************/

header {
	display: flex;
	justify-content: space-between; 
	height: 80px;
	background-color: #9556a0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

header h1 {
	margin: 0;
	font-size: 1.3em;
}

#app-name {
	margin: auto .7em;
	color: #fff;
}

.app-name-thin {
	font-weight: 100;
}

sup {
	font-size: .3em;
	vertical-align: super;
}


#notifications {
	display: flex;
	margin: 15px 0 15px auto;
	padding: 10px 5px 10px 10px;
	border-right: 1px solid #fff;
	position: relative;
	cursor: pointer;
}

#notifications img {
	width: 25px;
	height: 25px;
	margin: auto 0;
}

#notifications-counter {
	position: absolute;
	top: 6px;
	right: 5px;
	width: 15px;
	height: 15px;
	padding: 1px 0 0 4px;
	color: #fff;
	background-color: #4ebf55;
	border: 1px solid #fff;
	font-size: .6em;
	border-radius: 50%;
}

#notifications-list {
	position: relative;
	width: 200px;
	position: absolute;
	z-index: 1000;
	top: 54px;
	left: -83px;
}

.notification {
	text-align: center;
	font-size: .8em;
	color: #fff;
	border: 1px solid #fff;
	padding: 10px;
	background-color: #4ebf55;
	position: relative;
}

.notification:first-child::before {
	position: absolute;
	top: -15px;
	right: 75px;
	content: "";
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid #4ebf55;
}

.display {
	display: block;
}

.noDisplay {
	display: none;
}


#profile {
	display: flex;
}

#profile img {
	border-radius: 50%;
	width: 30px;
	height: 30px;
	margin: auto .5em;
}

#profile h3 {
	display: inline-block;
	margin: auto 1.2em auto 0;
	font-size: 1em;
	font-weight: 100;
	color: #fff;
}

#wrapper {
	display: flex;
	flex-direction: column;
	margin-top: 80px;
}

.subhead {
	text-transform: uppercase;
	font-size: 1em;
	margin-left: 1em;
}

/************ navigation ************/

nav {
	display: flex;
	justify-content: space-between;
	background-color: #650e75;
	position: fixed;
	z-index: 1;
	width: 100%;
}

nav ul {
	display: flex;
	width: 100%;
	justify-content: space-around;
	align-items: center;
}

nav li {
	padding: 6px 0 3px;
}

nav img {
	height: 25px;
	width: 25px;
}


.nav-active {
	border-right: 5px solid #650e75;
	border-bottom: 5px solid #4ebf55;
	border-left: 5px solid #650e75;
}

/************ dashboard - search ************/

#dash-search {
	display: flex;
	justify-content: space-between;
	height: 60px;
	margin-top: 40px;
}

#dashboard {
	display: flex;
	align-items: center;
	width: 160px;
	text-align: center;
}

#dashboard h3 {
	font-weight: normal;
	margin: auto;
	font-size: 1em;
}

#search-container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	background-color: #e6e9ef;
	border-left: 1px solid grey;
	border-bottom: 1px solid grey;
}

#search {
	width: 100%;
	font-size: .8em;
	margin: 1em;
	padding: .5em .3em;
	border-radius: 5px;
	border: 1px solid grey;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-image: url("../icons/magnifier.png");
	background-repeat: no-repeat;
	background-position: 96% 50%;
	background-size: 20px 20px;
	transition: all .6s ease-in-out;
}


#search:focus {
	box-shadow: inset 0 0 15px 1px rgba(149, 86, 160, .9);
}

/************ alert ************/

#alert {
	height: 50px;
	text-align: left;
	width: 95%;
	margin: 1em auto;
	padding: 1em .7em;
	background-color: #9556a0;
	color: #fff;
	border-radius: 5px;
}


#alert p {
	display: inline-block;
	font-size: .8em;
	font-weight: 100;
	margin: auto 0 auto .3em;
}


#close-alert {
	float: right;
	cursor: pointer;
}


/************ line chart traffic ************/

#line-chart-buttons {
	display: flex;
	justify-content: space-between;
	margin: 10px 10px;
}


#line-chart-buttons button {
	font-size: .8em;
	padding: 5px 10px;
	color: #09660e;
	background-color: #fff;
	border: 1px solid #09660e;
	border-radius: 20px;
	outline: none;
	cursor: pointer;
}


#line-chart-buttons button.active {
	padding: 5px 10px;
	color: #fff;
	background-color: #4ebf55;
	border: none;
	border-radius: 20px;
	outline: none;
}


/************ daily traffic and mobile users div ************/
#daily-mobile {
	display: flex;
	flex-direction: column;
	border-top: 1px solid #09660e;
	border-bottom: 1px solid #09660e;
	padding-bottom: 10px;
}

/************ doughnut chart mobile users ************/

#mobile-labels {
	position: absolute;
	left: 80%;
	top: 45%;
}

/************ social stats ************/
#social-stats {
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #09660e;
}

.social-container {
	display: flex;
	align-items: center;
	width: 90%;
	height: 100px; 
	padding: 20px;
	margin: 1em auto 0 auto;
	border: 1px solid #a0a7b2;
	border-radius: 5px;
}


.social-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #650e75;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.social-icon img {
	width: 25px;
	height: 25px;
}

.social-stats {
	margin-left: 20px;
}

.social-name {
	font-size: 1em;
	margin: 0;
	color: #650e75;
}

.social-stats span {
	font-size: 1em;
	letter-spacing: 1px;
	color: #a0a7b2;
}

/************ new members and recent activity div ************/

/************ new members ************/

#new-users,
#recent-activity {
	width: 100%;
	border-bottom: 1px solid #09660e; 
}

#members li,
#recent-activity li {
	border-bottom: 1px solid #a0a7b2;
	margin: 0 30px;
	padding: 20px 0;
}

#recent-activity li {
	position: relative;
}

#members li:last-child,
#activities li:last-child {
	border-bottom: none;
}

.members-icon {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-right: 10px;
}

#members p,
#activities p {
	margin: 0;
}

.members-name,
.comment,
.time {
	color: #252930;
}

.members-name {
	font-size: .9em;
	text-transform: capitalize;
}

.comment {
	font-size: .8em;
	width: 70%;
}

.members-email,
.time {
	font-size: .6em;
}

.members-email {
	color: #4286f4;
}

.members-date,
.arrow {
	margin-left: auto;
	font-size: .7em;
	color: #252930;
}


/************ recent activity ************/

.arrow img {
	position: absolute;
	right: 5px;
	top: 50%;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

/************ message user and settings div ************/

/************ message user ************/

#message-container {
	border-bottom: 1px solid #09660e;
	padding-bottom: 1em;
}

#message-container input[type="text"],
#message-container textarea,
#message-container button {
	display: block;
}

#search-user,
#message-user {
	width: 90%;
	background-color: #e6e9ef;
	border: 1px solid grey;
	border-radius: 5px;
	margin: 10px auto;
	padding: 5px 10px;
	font-size: .9em;
}

#send {
	width: 90%;
	background-color: #650e75;
	color: #fff;
	border-radius: 5px;
	border: none;
	text-transform: uppercase;
	padding: 5px 0;
	margin: 10px auto;
	outline: none;
	cursor: pointer;
}

/************ settings ************/

#settings {
	padding: 1em;	
}

#settings h3 {
	margin-top: 0;
	margin-left: 0;
}

#settings p {
	width: 220px;
	font-size: .9em;
}

/* on/off switch */
.onoffswitch {
    position: relative; 
    width: 90px;
    -webkit-user-select: none; 
    -moz-user-select:none; 
    -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #650e75; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; 
    width: 22px; 
    margin: 6px;
    background: #FFFFFF;
    position: absolute; 
    top: 0; 
    bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

select {
	display: block;
	width: 90%;
	margin: 20px auto 10px auto;
	padding: 5px 10px;
	font-size: .8em;
	border-radius: 5px;
	background-color: #e6e9ef;
	outline: none;
}

.select-icon,
.select-icon:hover {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../icons/expand-arrow.svg");
  background-repeat: no-repeat;
  background-position: 98% 50%;
  background-size: 25px 25px;
  cursor: pointer;
}

#save-cancel {
	width: 90%;
	display: flex;
	justify-content: space-between;
	margin: 10px auto;
}

.settings-button {
	width: 48%;
	padding: 5px 10px;
	font-size: .8em;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	text-transform: uppercase;
}

#save {
	background-color: #650e75;
}

#cancel {
	background-color: #7e7d84;
}

@media only screen and (min-width: 768px) {
    
	/*********** header **************/
	header h1 {
		margin: 0;
		width: 10%;
		font-size: 1.5em;
	}

	sup {
		font-size: .3.5em;
	}

	#notifications {
		padding: 10px;
	}
	
	#notifications img {
		width: 30px;
		height: 30px;
	}

	#notifications-counter {
		top: 3px;
		right: 10px;
		width: 17px;
		height: 17px;
		padding: 0 0 0 5px;
		font-size: .7em;
	}

	#notifications-list {
		width: 220px;
		top: 54px;
		left: -90px;
	}

	.notification {
		font-size: .9em;
	}

	.notification:first-child::before {
		top: -15px;
		right: 86px;
	}

	#profile {
		display: flex;
	}

	#profile img {
		width: 35px;
		height: 35px;
		margin: auto 1em;
	}

	#profile h3 {
		font-size: 1.2em;
	}

	/************ navigation ************/
	nav div:first-child {
		border-bottom: 5px solid #8ae57e;
		border-left: 5px solid #650e75;
		border-right: 5px solid #650e75;
	}

	nav ul {
		justify-content: center;
	}

	nav img {
		height: 30px;
		width: 30px;
		margin: 0 1em;
	}

	/************ dashboard - search ************/
	#dash-search {
		margin-top: 48px;
	}

	#dashboard h3 {
		font-weight: normal;
		margin: auto;
		font-size: 1.2em;
	}

	#search {
		width: 30%;
		font-size: .9em;
	}

	/************ alert ************/
	#alert p {
		font-size: 1em;
		margin: auto 0 auto 1em;
	}

	#close-alert {
		margin-right: 10px;
		font-size: 1.7em;
		line-height: .7;
	}

	/************ line chart traffic ************/
	#line-chart-buttons {
		display: flex;
		justify-content: flex-end;
		margin: 10px 20px;
	}

	#line-chart-buttons button {
		font-size: .9em;
		margin-left: 10px;
	}


	#line-chart-buttons button.active {
		padding: 5px 10px;
		color: #fff;
		background-color: #4ebf55;
		border: none;
		border-radius: 20px;
		outline: none;
	}

	#line-chart {
		padding-bottom: 1.5em;
	}

	/************ daily traffic and mobile users div ************/
	#daily-mobile {
		padding-bottom: 1.5em;
	}

	/************ social stats ************/
	#social-stats {
		padding-bottom: 1.5em;
	}

	.social-container {
		width: 60%;
	}

	.social-icon {
		width: 60px;
		height: 60px;
	}

	.social-icon img {
		width: 35px;
		height: 35px;
	}

	.social-name {
		font-size: 1.5em;
	}

	.social-stats span {
		font-size: 1.5em;
	}

	/************ new members and recent activity div ************/
	
	/************ new members ************/

	#members li,
	#recent-activity li {
		display: flex;
		align-items: center;
		width: 80%;
		margin: 0 auto;
	}

	.members-icon {
		width: 35px;
		height: 35px;
	}

	.members-name {
		font-size: 1em;
	}

	.members-email,
	.time {
		font-size: .7em;
	}


	.members-date,
	.arrow {

		font-size: .9em;
	}

	/************ recent activity ************/
	.arrow img {
		position: relative;
	}

	/************ message user ************/
	#message-container input[type="text"],
	#message-container textarea,
	#message-container button {
		display: block;
		width: 80%;
	}

	#search-user,
	#message-user {
		padding: 10px 20px;
		font-size: 1em;
	}

	#send {
		padding: 10px 0;
	}

	/************ settings ************/
	#settings {
		padding: 1em;	
	}

	#settings h3 {
		margin-left: 0;
	}

	#settings p {
		width: 220px;
		font-size: 1em;
	}

	#send-email,
	#set-profile {
		width: 90%;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		font-size: 1em;
	}

	select {
		width: 90%;
		padding: 10px 10px;
		font-size: .9em;
	}

	.settings-button {
		padding: 10px 10px;
	}

}

@media only screen and (min-width: 1024px) {
    
	/*********** header **************/
	header h1 {
		font-size: 1.7em;
	}

	#notifications {
		padding: 10px;
	}
	
	#notifications img {
		width: 30px;
		height: 30px;
	}

	#notifications-counter {
		top: 3px;
		right: 10px;
		width: 17px;
		height: 17px;
		padding: 0 0 0 5px;
		font-size: .7em;
	}

	#notifications-list {
		width: 220px;
		top: 54px;
		left: -90px;
	}

	.notification {
		font-size: .9em;
	}

	.notification:first-child::before {
		top: -15px;
		right: 86px;
	}

	#profile {
		display: flex;
	}

	#profile img {
		width: 35px;
		height: 35px;
		margin: auto 1em;
	}

	#profile h3 {
		font-size: 1.2em;
	}

	#wrapper {
		height: 100%;
		display: flex;
		flex-direction: row;
	}

	/************ navigation ************/
	nav {
		align-items: flex-start;
		position: fixed;
		width: 74px;
		height: 100%;
		z-index: 100;
	}

	nav ul {
		flex-direction: column;
		margin-top: 2em; 
	}

	nav ul li {
		margin: 1em 0;
	}

	nav img {
		height: 35px;
		width: 35px;
		margin: 0 1em;
	}

	.nav-active {
		border-top: 5px solid #650e75;
		border-right: none;
		border-bottom: 5px solid #650e75;
		border-left: 5px solid #4ebf55;
	}

	main {
		width: 95%;
		margin-left: 74px;
	}

	/************ dashboard - search ************/
	#dashboard h3 {
		font-weight: normal;
		margin: auto;
		font-size: 1.2em;
	}

	#dash-search {
		margin-top: 0;
	}

	#search {
		width: 30%;
		font-size: .9em;
	}
	

	/************ line chart traffic ************/
	#line-chart-buttons {
		margin: 10px 50px;
	}

	#line-chart {
		width: 100%;
		padding: 0 2em 1.5em 2em;
	}

	/************ daily traffic and mobile users div ************/
	#daily-mobile {
		display: flex;
		flex-direction: row;
		padding-bottom: 0;
	}

	#daily-traffic {
		border-right: 1px solid #09660e;
	}

	#daily-traffic,
	#mobile-users {
		width: 50%;
		padding: 0 2em 1.5em 2em;
	}

	/************ social stats ************/
	#social-stats {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center; 
		height: 250px;
		position: relative;
		margin-bottom: 0;
	}

	.social-stats-heading {
		text-transform: uppercase;
		position: absolute;
		top: 10px;
		left: 1em;	
		margin-bottom: 20px
		font-size: 1em;
	}

	.social-container {
		width: 30%;
		height: 150px;
		margin: 60px 10px 0; 
	}

	.social-icon {
		width: 80px;
		height: 80px;
	}

	.social-icon img {
		width: 45px;
		height: 45px;
	}

	.social-name {
		font-size: 1.5em;
	}

	.social-stats span {
		font-size: 3em;
	}


	/************ new members and recent activity div ************/
	#members-activity {
		display: flex;
	}

	/************ new members ************/
	#new-users {
		border-right: 1px solid #09660e;
	}

	#new-users,
	#recent-activity {
		width: 50%;
	}

	#members li,
	#recent-activity li {
		width: 90%;
		height: 100px;
	}

	.members-name,
	.comment {
		font-size: 1em;
	}

	.members-email,
	.time {
		font-size: .9em;
	}


	.members-date,
	.arrow {
		font-size: 1em;
	}

	/************ message user and settings div ************/
	#message-settings {
		display: flex;
		margin-bottom: 2em;
	}

	/************ message user ************/
	#message-container {
		width: 50%;
		border-right: 1px solid #09660e;
		border-bottom: none;
	}

	#message-container input[type="text"],
	#message-container textarea,
	#message-container button {
		width: 90%;
	}

	#message-container textarea {
		height: 120px;
	}

	#search-user,
	#message-user {
		padding: 10px 20px;
		font-size: 1em;
	}

	#send {
		padding: 10px 0;
	}

	/************ settings ************/
	#settings {
		padding: 1em;
		width: 50%;	
	}

	#settings h3 {
		margin-left: 0;
	}

	#settings p {
		width: 220px;
		font-size: 1em;
	}

	#send-email,
	#set-profile {
		width: 90%;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		font-size: 1em;
	}

	select {
		width: 90%;
		padding: 10px 10px;
		font-size: .9em;
		margin-top: 2em;
	}

	.settings-button {
		padding: 10px 10px;
		font-size: 1em;
	}

}
